<div data-controller="homes">
  <ul class="movie-list">
    <%= render partial: 'video', collection: @videos %>
  </ul>

  <% if current_user.present? %>
    <%= render "share_youtube_modal" %>
  <% end %>
  <div id="preview-wrapper"></div>
</div>
